* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sriracha',
        cursive;
    user-select: none;
}

body {
    background-color: #111;
    overflow: hidden;
    min-height: 100vh;
}

.background section {
    height: 100vh;
}

.background i,
.background span,
.background p {
    position: absolute;
    pointer-events: none;
    color: #fff;
    animation: animate 5s linear infinite;
}

span {
    color: #fff;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}